@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

:root {
    --primary-color: #29A1AB;
    --secondary-color: #0F0F0F;
    --background-dark-color: #000;
    --text-white: #fff;
}

body {
    background-color: var(--background-dark-color);
    color: var(--text-white);
}

a {
    text-decoration: none;
}

.card-custom {
    background-color: var(--background-dark-color);
    color: var(--text-white);
}


.card-custom-featured {
    background-color: var(--primary-color);
    color: var(--text-white);
}


.background-icons {
    background-color: var(--primary-color);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.btn-custom {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    background-color: transparent;
    color: #56C0E0;
}


.contact-section {

    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}


.btn-enviar {
    background-color: var(--primary-color);
    border: none;
    color: var(--text-white);
}