@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

:root {
    --primary-color: #29A1AB;
    --secondary-color: #0F0F0F;
    --background-dark-color: #000;
    --text-white: #fff;
}

body {
    background-color: var(--background-dark-color);
    color: var(--text-white);
}

a {
    text-decoration: none;
}

.card-custom {
    background-color: var(--background-dark-color);
    color: var(--text-white);
}


.card-custom-featured {
    background-color: var(--primary-color);
    color: var(--text-white);
}


.background-icons {
    background-color: var(--primary-color);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact-section {
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.btn-enviar {
    background-color: var(--primary-color);
    border: none;
    color: var(--text-white);
}

/* Estilos personalizados para el popover */
.popover {
    max-width: 300px;
}

.popover-header {
    background-color: var(--primary-color);
    color: var(--text-white);
    border-color: var(--primary-color);
}

.popover-body {
    color: #000000;
    background-color: var(--background-dark-color);
    color: var(--text-white);
}

/* Flecha del popover */
.popover.bs-popover-top .arrow::after,
.popover.bs-popover-auto[x-placement^="top"] .arrow::after {
    border-top-color: #343a40;
    /* Color de la flecha cuando el popover está arriba */
}

/* Ajustes de estilo adicionales según sea necesario */